:root{
    --clr-primary: rgb(51, 122, 183);
    --clr-off-black: rgb(30,30,30);
    --clr-dark-grey: #333;    
}

h1 {
    color: var(--clr-primary);
}

button {
    cursor:pointer;
    background-color: var(--clr-off-black);
    color: #fff;
    padding: 0.75rem;
    border-radius: 0.5rem;

    border:0;
}
button:hover {
    background-color: var(--clr-dark-grey);
}

*:visited{
    color:inherit;
}

p.subproject{
    margin-left:2rem;
}
a[data-tool-tip]{
    position: relative;
}

a[data-tool-tip]::after{
    content: attr(data-tool-tip);
    display:block;
    position: absolute;
    background-color: var(--clr-dark-grey);
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-size: .8em;
    bottom: 0;
    left:100%;
    margin-left:1em;
    transform: scale(0);
    transform-origin: 0 50%;
    transition: transform ease-out 150ms;
}

a[data-tool-tip]:hover::after{
    transform: scale(1);
}