:root{
    --clr-primary: rgb(51, 122, 183);
    --clr-off-black: rgb(30,30,30);
    --clr-dark-grey: #333;    
}

h1 {
    color: var(--clr-primary);
}

button {
    cursor:pointer;
    background-color: var(--clr-off-black);
    color: #fff;
    padding: 0.75rem;
    border-radius: 0.5rem;

    border:0;
}
button:hover {
    background-color: var(--clr-dark-grey);
}

*:visited{
    color:inherit;
}

p.subproject{
    margin-left:2rem;
}