:root{
    --clr-main:#55d6aa;
    --clr-primary: rgb(51, 122, 183);
    --clr-off-black: rgb(30,30,30);
    --clr-dark-grey: #333;
}

h1 {
    color: var(--clr-primary);
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}

header {
    display:grid;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--clr-main);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.15);

    .container {
        margin:0 auto;
    }

    h1 {
        color:inherit;
        font-size: 1.6rem;
        font-weight: 200;
        text-transform: uppercase;

        transition: background-color 150ms ease-out;
    }
    h1:hover {
        cursor:pointer;
        background-color: rgba(0,0,0,0.1);
    }

    .title {
        float:left;
        margin:10px 0;
        color:var(--clr-dark-grey);
        padding: 0.5rem 2rem;
        border: 1px solid var(--clr-dark-grey);
    }
}

header::after {
    content:'';
    display:table;
    clear:both;
}

nav {
    float:right;
    height:100%;
    color:white;

    a {
        cursor:pointer;
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    a:hover {
        color:initial;
        text-decoration: none;
    }
    a::after {
        content:'';
        display:block;
        background-color: white;
        height:5px;
        width:0;
        
        transition: width 150ms ease-in-out;
    }
    a:hover::after{
        width:100%;
    }

    ul {
        height:100%;
        margin:0;
        padding:0;
    }
    
    li {
        display:inline-block;
        height:100%;
        margin-left:70px;
        margin-top:5px;
    }
}

a:hover {
    color: var(--clr-main);
}

ul {
    margin:0;
    padding:0;
    list-style: none;
}

.project-page {
    .project {
        &__name {
            line-height:1.2;
            font-size: 1.5rem;
            position:relative;
            margin-bottom:0;
        }
        &__name::before {
            content: '';
            position:absolute;
            top:50%;
            width:5px;
            height:1.2rem;
            left:-1rem;
            background-color: var(--clr-dark-grey);
            transform: translateY(-50%);
        }
    }

    
    ul {
        padding-left: 1rem;
        font-size: 1.2rem;
        margin-bottom:0.5rem;
    }
    li {
        font-size:0.8em;
        a:hover {
            cursor: default;
        }
    }
}


li.subproject {
    margin-left: 1rem;
}

.back {
    position: absolute;
    top: 1em;
    right: 1em;
}
button {
    cursor:pointer;
    background-color: var(--clr-off-black);
    color: #fff;
    padding: 0.75rem;
    border-radius: 0.5rem;

    border:0;
}
button:hover {
    background-color: var(--clr-dark-grey);
}

*:visited{
    color:inherit;
}

.toast {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
}
p.subproject{
    margin-left:2rem;
}
a[data-tool-tip]{
    position: relative;
}

a[data-tool-tip]::after{
    content: attr(data-tool-tip);
    display:block;
    position: absolute;
    background-color: var(--clr-dark-grey);
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-size: .8em;
    bottom: 0;
    left:100%;
    margin-left:1em;
    transform: scale(0);
    transform-origin: 0 50%;
    transition: transform ease-out 150ms;
}

a[data-tool-tip]:hover::after{
    transform: scale(1);
}

#span-picker{
    animation-duration: 750ms;
    animation-iteration-count:0.5;
}

.span-picker {
    --margin: 0.5rem;
    --padding:1em;
    position:absolute;
    display:flex;
    margin-top:var(--margin);
    background-color:var(--clr-dark-grey);
    border-radius:10px;
    box-shadow: -5px 5px 25px 0 rgba(0,0,0,.25);
    padding: var(--padding);
    opacity:0;
    scale: 0;
    
    transition: opacity 75ms ease-out,
                scale 75ms ease-out;

    &::before{
        content:'';
        position: absolute;
        width:30px;
        height:10px;
        background: var(--clr-dark-grey);
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
        transform:translateY(calc(-1em - 0.5rem));
    }
    
    #id_span:hover + &{
        opacity: 1;
        scale: 1;
    }
    &:focus-within {
        opacity: 1;
        scale: 1;
    }

    &__wrapper {
        position: relative;
    }
    
    & input{
        appearance: textfield;
        color:white;
        width:4rem;
        font-weight: 500;
        font-size:1.25rem;
        // border-radius:3px;
        
        background:  rgba(white,0.1);
        border-top: 1px solid rgba(white, 0.25);
        border-bottom: 2px solid rgba(white, 0.25);
        border-left:none;
        border-right:none;
        
        box-shadow: 0 0 5px -5px rgba(0,0,0,0.5);
    }

    & input.error {
        border-bottom: 2px solid rgba(red,0.75);
    }

    & label {
        cursor: text;
        position:absolute;
        color:white;
        bottom:0;
        margin:0;
        padding:0 0.3rem;   
        transform: translateX(-100%);
        margin-bottom: 3px;
        opacity: 0.75;

        transition: transform 50ms ease-out;
    }

    & input:focus + label {
        transform: translateX(-100%)!important;
    }
    
    & input:placeholder-shown + label{
        transform: translateX(-4rem);
    }
}