{% extends "base.html" %}
{% load custom_tags %}

{% block page_content %}
<a id="back-btn" class="back" href="..">
    <button>Back</button>
</a>


<form id='select-form-form' method="POST" data-sub-projects-url="{% url 'ajax_load_sub_projects' %}">
    {% csrf_token %}
    {{select_form}}
</form>
<h1>old</h1>

<form action="" method="POST" id="project-form">
    {% csrf_token %}
    <!-- <div class="form-group row"> -->
        <!-- <label class="col-2 col-form-label" for="information">Student Name</label> -->
        <!-- <div class="col-10"> -->
        <table>
            {{project_form.as_table}}
        </table>
        <input type="submit" value="Submit">
        <!-- </div> -->
    <!-- </div> -->
</form>
{{sub_project_form}}


<h1>Oldest</h1>
<form action="{% url 'clock'  %}" method="POST">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit"/>
</form>

<table class="timesheet-data">
    <tr>
        <th>Start</th>
        <th>End</th>
        <th>Span</th>
        <th>Date</th>
    </tr>
    {% for d in dates %}
    <tr>
        <td>{{d.start_at}}</td>
        <td>{{d.end_at}}</td>
        <td>{{d.span}}</td>
        <td>{{d.date}}</td>
    </tr>
        
    {% endfor %}
</table>
{% endblock %}
{% load static %}
{% block scripts %}
<script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}