{% extends "base.html" %}

{% block page_content %}
<div id="toast" class="toast" data-delay=2000 data-url="{% url 'ajax_show_toast' %}">
</div>

<a id="back-btn" class="back" href="..">
    <button>Back</button>
</a>

<form id='timesheet-form' class="form" method="POST" data-url="{% url 'ajax_insert_time_entry' %}">
    {% csrf_token %}
    <table>
        {{ timesheet_form.as_table }}
    </table>
    <input type="submit" value="Submit"/>
</form>

<h1>Timesheet</h1>
<input id="week-input" type="number" class="text-input" 
name="week-input" min="1" max="52" value="15">
<input id="year-input" type="number" class="text-input" 
name="week-input" min="2000" max="3000" value="2020">
<button id="refresh-generated-timesheet">Refresh</button>
<table id="generated-timesheet" class="generated-timesheet" data-url="{% url 'ajax_generate_timesheet' %}">
</table>

<h1>Entries</h1>
<table id="timesheet-table" class="timesheet-data" data-timesheet-url="{% url 'ajax_load_timesheet' %}">
</table>


{% endblock %}
{% load static %}
{% block scripts %}
<script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}