{% extends "base.html" %}

{% block page_content %}
<div id="toast" class="toast" data-delay=2000 data-url="{% url 'ajax_show_toast' %}">
</div>

<form id='timesheet-form' class="form" method="POST" data-url="{% url 'ajax_insert_time_entry' %}">
    {% csrf_token %}
    <table>
        {{ timesheet_form.as_table }}
    </table>
    <input type="submit" value="Submit"/>
</form>

<!-- this gets moved when with jquery to right spot-->

<div id="span-picker" class="span-picker">
    <div class="span-picker__wrapper">
        <input id="hour-input" class="span-picker__hour" type="text" name="hour" placeholder=""><label for="hour-input">hr</label>
    </div>
    <div class="span-picker__wrapper">
        <input id="minute-input" class="span-picker__minute" type="text" name="minute" placeholder=""><label for="minute-input">min</label>
    </div>
</div>
<div>

<h1>Entries</h1>
<button id="delete-entries" class="delete disabled" onclick="deleteClicked(this)" data-url="{% url 'ajax_delete_entries' %}">Delete</button>
<table id="timesheet-table" class="timesheet-data" data-timesheet-url="{% url 'ajax_load_timesheet' %}">
</table>


{% endblock %}
{% load static %}
{% block scripts %}
<script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}