<caption>{{title}}</caption>
<thead>
    <tr>
        <th>Project</th>
        {% for weekday in weekdays %}
        <th>{{weekday}}</th>
        {% endfor %}
    </tr>
</thead>

<tbody>
    {% for sp, days in hours.items %}
    <tr>
        <td>{{sp}}</td>
        {% for day in days %}
            {%if day == 0 %}
            <td class="{%if day == 0 %} no-hours {% endif %}">-</td>
            {% else %}
            <td>{{day|stringformat:".2f"}}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>