{% extends "base.html" %}

{% block page_content %}
<div class="project-page">
    <div class="mw6 center pa3 sans-serif">
        <h1 class="mb4">Projects</h1>
    </div>
    
    {% for k,v in sub_project_ful_ids.items %}
    
    <ul class="project">
        <h3 class="project__name">{{k}}</h3>
        {% for name, id in v.items %}
        <li class="subproject"><a class="sub_project__name" href="#" data-tool-tip={{id}}>{{name}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endblock %}